


body {
  margin: 0;
  font-family: "Caveat", cursive;
  color: #06570f;
  background: url('pic2.jpeg') center/cover no-repeat fixed;
  position: relative;
  min-height: 100vh;
  
}

body::before {
  content: "";
  position: absolute;
  inset: 0;
  background: inherit;
  filter: blur(15px);
  transform: scale(1.1);
  z-index: -1;
}

.content-row {
  display: flex;               
  justify-content: space-between; 
  align-items: center;          
  gap: 20px;                    
  padding: 20px 20px;          
}
.dream-img {
  width: 200px;
  height: auto;
  border-radius: 10%;
  box-shadow: 4px 4px 15px rgba(0,0,0,0.3); 
  object-fit: cover;
}




h1 {
  font-family: "Caprasimo";
  font-size: 3rem;
  color:azure;
  font-style: normal;
  text-align: center;
  text-shadow: #182188 1px 0 10px;
  margin-left: 60px;

}

h4 {
  font-size: 1rem;
  text-align: center;
  font-family: "Caprasimo";
  color: rgb(235, 246, 255);
  margin-top: 30px;
  margin-left: 60px;
  text-shadow: #4e58c1 3px 0 1px;

}

h3 {
  font-size: 1.4rem;
  font-family: "Playwrite AU TAS";
  margin-top: 30px;
  margin-left: 60px;
  max-width: 1000px;
  color:#f8ff93;
  text-shadow: #5c4916 2px 0 3px;
}

p {
  font-size: 1.4rem;
  color: #ffffff;
  line-height: 1.6;
  max-width: 1000px;
  margin-left: 60px;
  text-shadow:#092018 2px 0 3px;
}


.scroll-container {
  position: relative;
  margin: 10px;
  margin-left: 30px;
  background-color: #d4f1e0b7;
  overflow-x: scroll;
  white-space: nowrap;
  padding: 30px;
  font-family: "Caveat";
  color: #27966f;
  text-align: center;
}

.scroll-container img {
  padding: 3px;
}


.gallery-caption {
  position: relative;
  margin-top: -40px;  
  font-family: "Caveat", cursive;
  color: #1f833a;
  text-shadow: none;
  text-align: center;
  font-size: 18px;
}

footer {
  position: fixed;
  bottom: 0;              
  left: 0;
  width: 100%;           
  background-color: #e3d8e8;
  color: #652599;
  font-family: "Caveat", cursive;
  text-align: center;
  padding: 8px 0;
  font-size: 16px;
  box-shadow: 0 -2px 5px rgba(0,0,0,0.1); /* 让footer有一点阴影 */
  z-index: 100;           
}
